<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imcore.wenxun.UI"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.imcore.wenxun.UI.LoadingActivity"
            android:label="@string/app_name"
            android:theme ="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.imcore.wenxun.UI.LoginMainActivity"/>
        <activity android:name="com.imcore.wenxun.UI.XLLoginActivity"/>
        <activity android:name="com.imcore.wenxun.UI.TXLoginActivity"/>
        <activity android:name="com.imcore.wenxun.UI.TribeLoginActivity"/>
        <activity android:name="com.imcore.wenxun.UI.HelpActivity"/>
        <activity android:name="com.imcore.wenxun.UI.PhoneRegisterActivity"/>
        <activity android:name="com.imcore.wenxun.UI.PhoneRegisterInfoActivity"/>
        <activity android:name="com.imcore.wenxun.UI.RegisterMainActivity"/>
        <activity android:name="com.imcore.wenxun.UI.ServiceItemActivity"/>
        <activity android:name="com.imcore.wenxun.UI.FirstPagerActivity"/>
        
    </application>

</manifest>
